.popUpBlock {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(43, 45, 51, 0.4);
  backdrop-filter: blur(4px);
}

.popUpInside {
  max-width: 496px;
  width: 90%;
  background: #FFFFFF;
  padding: 40px;
  box-sizing: border-box;
  background: #FFFFFF url(../images/pop-up/bg.png) no-repeat center center / cover;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.popUpInsideQuestion {
  background: #FFFFFF url(../images/pop-up/bg-2.png) no-repeat center center / cover;
}

.popUpQuestionBlock {
  height: 300px;
}

.popAnswerItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}

.popAnswerItemLast {
  margin-bottom: 0;
}

.popUpRadio {
  width: 24px;
  height: 24px;
  background: #F0F6FA;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 100px;
  margin-right: 16px;
}

.popUpAnswerText {
  font-family: "Futura_Book";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.popUpAnswers {
  margin-top: 40px;
}

.popUpCaption {
  font-family: "Futura_Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}

.popUpDescription {
  font-family: "Futura_Book";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 20px;
  color: #666666;
}

.popUpInput {
  width: 100%;
  font-family: "Futura_Book";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 14px 20px 15px;
  box-sizing: border-box;
  border: 1px solid #D3D3D3;
  background: #F8F8F8;
  margin-top: 20px;
  outline: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 5px;
}

.popUpInput::placeholder {
  color: #888888;
}

.popUpButton {
  font-family: "Futura_Demi";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: #FEE600;
  color: #262300;
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  width: min-content;
  cursor: pointer;
  border-radius: 5px;
}

.popUpButton:hover {
  transition: 0.3s;
  background: #262300;
  color: #FEE600;
  transform: scale(1.1);
}

.popUpButton1 {
  margin-top: 55px;
}

.popUpLogo {
  width: 88px;
  height: auto;
  display: block;
  margin-bottom: 40px;
}

@media only screen and (max-width: 668px) {
  .popUpInside {
    max-width: 300px;
    width: 100%;
    padding: 32px 16px;
  }

  .popUpLogo {
    margin-bottom: 32px;
  }

  .popUpDescription {
    margin-bottom: 12px;
  }

  .popUpButton1 {
    margin-top: 66px;
  }

  .popUpQuestionBlock .popUpCaption {
    font-size: 26px;
    line-height: 30px;
  }
}
