:root {
  --transformation: rotateY(45deg);
  --transformationWidth: 76.7%;
}

body {
  min-height: 2000px;
  animation: blockBody 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

.doorBlock {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../images/index-bg.svg) repeat top left / contain;
}

.doorInside {
  position: relative;
  display: block;
  perspective: 1000px;
  max-width: 496px;
  width: 28.75%;
}

.doorImg {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}

.doorElement {
  position: absolute;
  z-index: 9;
  right: 2px;
  top: 0;
  background: #A5BECF;
  width: var(--transformationWidth);
  height: 67%;
  margin-top: 11%;
  transform-origin: right center;
  transform: var(--transformation);
  animation: openDoor 1.5s ease-in-out;
  animation-fill-mode: forwards;
  /* transition: 0.2s; */
}

@keyframes openDoor {
  0% {
    width: var(--transformationWidth);
    transform: var(--transformation);
  }

  100% {
    width: 43.4%;
    transform: rotateY(-55deg);
  }
}

@keyframes blockBody {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: auto;
  }
}

.indexNews {
  position: absolute;
  width: 20.1%;
  height: 72.2%;
  background: #2B2D33;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  right: 3.9%;
  top: 9%;
  padding: 44px 16px;
  box-sizing: border-box;
}

.indexArrow1, .indexArrow2 {
  width: 36px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 4px auto;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.indexArrow1:hover {
  transition: 0.3s;
  transform: scale(1.3);
}

.indexArrow2:hover {
  transition: 0.3s;
  transform: scale(1.3) rotate(180deg);
}

.indexArrow1 {
  top: 0;
}

.indexArrow2 {
  bottom: 0;
  transform: rotate(180deg);
}

.indexNewsItem {
  padding: 12px 16px;
  width: 100%;
  /* height: 31.746031746%; */
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  word-break: break-word;
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.indexNewsItem:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.indexNewsItem .caption16 {
  color: #FEE600;
}

.indexNewsItem .text16 {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

.swiper-container {
  overflow: hidden;
  height: 100%;
}

.indexPlayButton {
  width: 6.25%;
  height: auto;
  position: absolute;
  display: block;
  cursor: pointer;
  left: 25.2%;
  top: 46.1%;
}

.indexPlayButton:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.indexTopBlock {
  position: relative;
}

.animationFadeInNews {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  animation: fadeInRight 1s;
  /* -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; */
  animation-fill-mode: forwards;
}

.indexAboutLink {
  color: #72A5AD;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-decoration-line: underline;
}

.indexAboutLink:hover {
  transition: 0.3s;
  color: #FEE600;
  background: #2B2D33;
  border-radius: 1px;
  transform: scale(1.03);
  /* display: inline-block; */
  text-decoration: none;
  box-shadow: 0 0 0 10px #2B2D33;
}

.indexDates {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 26px;
}

.indexDatesInfo {
  display: none;
}

.indexDatesInfoShow {
  display: block;
}

.indexDatesItem {
  font-family: "Futura_Book";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 31px;
  position: relative;
  cursor: pointer;
}

.indexDatesItem:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.indexDatesItemClicked {
  font-family: "Futura_Demi";
}

.indexDatesItemClicked::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #2B2D33;
  left: 0;
  bottom: 0;
  margin-bottom: -6px;
}

.indexBgShape {
  width: 100vw;
  height: 560px;
  background: #FFFFFF;
  position: absolute;
  left: -100%;
  right: -100%;
  top: 17px;
  margin: 0 auto;
  transform-origin: 50% 0%;
  transform: skewY(-8deg);
  z-index: -2;
}

.indexSpeakers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.indexProgramDecor1 {
  width: 6.47590361446%;
  height: auto;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -24px;
  z-index: -1;
}

.indexProgramDecor2 {
  width: 4.81927710843%;
  height: auto;
  display: block;
  position: absolute;
  left: -6.6265060241%;
  top: 645px;
  z-index: -1;
}

.indexProgramDecor3 {
  width: 6.92771084337%;
  height: auto;
  display: block;
  position: absolute;
  right: -7.68072289157%;
  top: -97px;
  z-index: -1;
}

.indexInterestingDecor1 {
  width: 4.58333333333%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 55px;
  z-index: -1;
}

.indexInterestingDecor2 {
  width: 4.86111111111%;
  height: auto;
  display: block;
  position: absolute;
  right: -2.43055555556%;
  top: 160px;
  z-index: -1;
}

.indexSpeakersItem {
  width: 22.740963855%;
}

.indexSpeakersItemImg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

.indexSpeakersItem .caption20 {
  margin: 20px auto 4px;
}

.indexPages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.indexPagesItem {
  width: 48.4939759036%;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #FFFFFF;
  margin-bottom: 40px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.indexPagesItem:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.indexPagesItem .caption36 {
  margin-right: 15.5279503106%;
  position: relative;
  z-index: 2;
}

.indexPagesItemImg1 {
  position: absolute;
  display: block;
  width: 25.9316770186%;
  height: auto;
  top: -9px;
  left: 6.21118012422%;
  z-index: 2;
}

.indexPagesItemImg2 {
  position: absolute;
  display: block;
  width: 47.6708074534%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.indexPagesItemImg3 {
  position: absolute;
  display: block;
  width: 29.8136645963%;
  height: auto;
  top: -9px;
  left: 6.21118012422%;
  z-index: 2;
}

.indexPagesItemImg4 {
  position: absolute;
  display: block;
  width: 53.4161490683%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.indexPagesItemImg5 {
  position: absolute;
  display: block;
  width: 29.9689440994%;
  height: auto;
  top: -9px;
  left: 6.21118012422%;
  z-index: 2;
}

.indexPagesItemImg6 {
  position: absolute;
  display: block;
  width: 53.1055900621%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.indexPagesItemImg7 {
  position: absolute;
  display: block;
  width: 31.2111801242%;
  height: auto;
  top: -9px;
  left: 6.21118012422%;
  z-index: 2;
}

.indexPagesItemImg8 {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.indexInterestingLink {
  font-family: "Futura_Demi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #72A5AD;
  text-decoration: none;
  outline: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-decoration-line: underline;
  display: inline-block;
}

.indexInterestingLink:hover {
  transition: 0.15s;
  color: #FEE600;
  background: #2B2D33;
  border-radius: 1px;
  transform: scale(1.03);
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 0 0 10px #2B2D33;
}

.indexMoreImg {
  width: 61.9718309859%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: -75.2738654147%;
}

.indexLifehack {
  width: 100%;
  border-radius: 12px;
  padding: 16px;
  background: rgba(43, 45, 51, 0.05);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.indexLifehackIcon {
  width: 24px;
  height: auto;
  display: block;
  margin-right: 12px;
}

.indexLifehack span {
  font-family: "Futura_Demi";
}

.indexMoreBlock {
  width: 73.2798165138%;
  position: relative;
}

.indexInterestingCaption {
  font-family: "Futura_Demi";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.indexFoodBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indexFoodImg {
  width: 27.5229357798%;
  height: auto;
  margin-right: 2.75229357798%;
}

.indexInterestingBlock {
  width: 100%;
  position: relative;
  background-image: linear-gradient(top, transparent 20%, #FFFFFF 20%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(top, transparent 20%, #FFFFFF 20%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(top, transparent 20%, #FFFFFF 20%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(top, transparent 20%, #FFFFFF 20%, #FFFFFF 100%);
  background-image: -o-linear-gradient(top, transparent 20%, #FFFFFF 20%, #FFFFFF 100%);
  padding-bottom: 80px;
}

.indexInterestingBgShape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  z-index: -2;
}

.indexPopUpVideoBlock {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(43, 45, 51, 0.4);
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.indexPopUpVideoBlockHidden {
  display: none;
}

.indexPopUpVideoInside {
  width: 60.5555555556%;
}

.indexNoScroll {
  overflow: hidden !important;
}

@media only screen and (max-width: 868px) {
  .indexPopUpVideoInside {
    width: 90%;
  }

  .indexProgramDecor1 {
    width: 11.8784530387%;
    left: 69.7513812155%;
    top: -15px;
  }

  .indexProgramDecor3 {
    width: 12.7071823204%;
    right: -14.0883977901%;
    top: -43px;
  }

  .indexProgramDecor2 {
    width: 8.28729281768%;
    left: -10.2209944751%;
    top: 715px;
  }

  .indexInterestingDecor1 {
    width: 8.59375%;
    left: 69.921875%;
    right: unset;
    top: 45px;
  }

  .indexInterestingDecor2 {
    width: 9.11458333333%;
    right: -7.55208333333%;
    top: 68px;
  }

  .indexDatesBlock {
    margin-top: 106px;
  }

  .indexBgShape {
    top: 57px;
    height: 634px;
  }

  .indexSpeakersItem {
    width: 48.4939759036%;
    margin-bottom: 60px;
  }

  .indexSpeakersItem:nth-last-child(1), .indexSpeakersItem:nth-last-child(2) {
    margin-bottom: 0;
  }

  .indexPagesItem .caption36 {
    margin-right: 11.3636363636%;
  }

  .indexPagesItemImg2 {
    width: 87.2159090909%;
  }

  .indexPagesItemImg1 {
    width: 47.4431818182%;
    left: -11.3636363636%;
  }

  .indexPagesItemImg4 {
    width: 97.7272727273%;
  }

  .indexPagesItemImg3 {
    width: 54.5454545455%;
    left: -22.7272727273%;
    top: -15px;
  }

  .indexPagesItemImg6 {
    width: 97.1590909091%;
  }

  .indexPagesItemImg5 {
    width: 54.8295454545%;
    left: -11.3636363636%;
  }

  .indexPagesItemImg8 {
    width: 91.4772727273%;
  }

  .indexPagesItemImg7 {
    width: 57.1022727273%;
    left: -22.7272727273%;
  }

  .indexMoreImg {
    bottom: 125px;
    width: 73.9495798319%;
    right: -78.1512605042%;
  }

  .indexMoreBlock {
    width: 65.7458563536%;
  }

  .indexInterestingBlock .text20, .indexInterestingLink {
    font-size: 16px;
    line-height: 21px;
  }

  .indexSpeakers {
    flex-wrap: wrap;
  }

  .doorInside {
    width: 55.2%;
  }

  .indexDatesItem {
    font-size: 16px;
  }

  .doorBlock {
    height: 585px;
    background-size: 1264px;
    background-position: top center;
  }

  .animationFadeInNews {
    animation: fadeInUp 1s;
    animation-fill-mode: forwards;
    border-radius: 0;
  }

  .indexNews {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 193px;
    padding: 12px 20px 44px;
    border-radius: 0;
  }

  .indexNewsItem {
    width: 32.41%;
    height: 100%;
  }

  .indexNavigation {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
  }

  .indexArrow1, .indexArrow2 {
    position: relative;
    left: auto;
    right: auto;
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  .indexArrow1 {
    transform: rotate(-90deg);
  }

  .indexArrow1:hover {
    transform: scale(1.3) rotate(-90deg);
  }

  .indexArrow2 {
    transform: rotate(90deg);
  }

  .indexArrow2:hover {
    transform: scale(1.3) rotate(90deg);
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    scroll-snap-type: x mandatory
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
  }

  .indexPlayButton {
    width: 11.72%;
    left: 2.86%;
    top: 42.22%;
  }
}

@media only screen and (max-width: 668px) {
  .indexBgShape {
    height: 876px;
    top: 20px;
  }

  .indexNews {
    height: 144px;
    padding: 8px 10px 40px;
  }

  .indexNavigation {
    width: 76px;
    bottom: 4px;
  }

  .indexNewsItem {
    padding: 8px 12px;
  }

  .doorBlock {
    height: 360px;
    width: 93.75%;
    padding: 0 3.125%;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-size: 197.5%;
  }

  .indexPlayButton {
    position: relative;
    left: auto;
    top: auto;
    width: 20%;
  }

  .doorInside {
    width: 70%;
  }

  .indexArrow1, .indexArrow2 {
    width: 32px;
  }

  .indexAboutBlock {
    margin-top: 60px;
  }

  .indexAboutBlock .text20 {
    font-size: 16px;
    line-height: 24px;
  }

  .indexAboutBlock .marginTop24 {
    margin-top: 16px;
  }

  .indexAboutBlock .marginTop12 {
    margin-top: 10px;
  }

  .indexInterestingBlock {
    background-image: linear-gradient(top, transparent 5%, #FFFFFF 5%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(top, transparent 5%, #FFFFFF 5%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(top, transparent 5%, #FFFFFF 5%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(top, transparent 5%, #FFFFFF 5%, #FFFFFF 100%);
    background-image: -o-linear-gradient(top, transparent 5%, #FFFFFF 5%, #FFFFFF 100%);
    padding-bottom: 60px;
  }

  .indexInterestingBgShape {
    top: -10px;
  }

  .indexInterestingBlock .caption20 {
    font-size: 18px;
    line-height: 22px;
  }

  .indexInterestingBlock .text20, .indexInterestingLink {
    font-size: 14px;
    line-height: 18px;
  }

  .indexMoreBlock {
    width: 100%;
  }

  .indexMoreImg {
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    width: 86.6666666667%;
    margin: 20px auto 32px;
    display: block;
  }

  .indexFoodImg {
    width: 100%;
    margin: 0 auto 12px;
  }

  .indexLifehack {
    padding: 8px 12px;
  }

  .indexPagesItem {
    width: 100%;
    height: 160px;
    margin-bottom: 12px;
  }

  .indexSpeakersItem {
    width: 100%;
    margin-bottom: 32px;
  }

  .indexSpeakersItem:nth-last-child(2) {
    margin-bottom: 32px;
  }

  .indexDates {
    width: 103.33333333333%;
    padding: 0 0 0 3.33333333333%;
    position: relative;
    left: -3.33333333333%;
    overflow: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .indexInterestingBlock .marginTop24 {
    margin-top: 20px;
  }

  .indexInterestingBlock .marginTop16 {
    margin-top: 12px;
  }

  .indexInterestingBlock .marginTop8 {
    margin-top: 4px;
  }

  .indexDates::-webkit-scrollbar {
    display: none;
  }

  .indexFoodBlock {
    flex-wrap: wrap;
  }

  .indexProgramDecor1 {
    width: 28.6666666667%;
    left: unset;
    right: -17.6666666667%;
    top: -44px;
  }

  .indexInterestingDecor1 {
    width: 20.625%;
    left: unset;
    right: -10.3125%;
    top: 4px;
  }

  .indexProgramDecor2, .indexProgramDecor3, .indexInterestingDecor2 {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .doorInside {
    perspective: 900px;
  }
}

@media only screen and (max-width: 450px) {
  .doorInside {
    perspective: 800px;
  }
}

@media only screen and (max-width: 400px) {
  .doorInside {
    perspective: 700px;
  }
}

@media only screen and (max-width: 350px) {
  .doorInside {
    perspective: 600px;
  }
}
