@font-face {
  font-family: 'Futura_Bold';
  src: url(./Futura_Bold.ttf);
}

@font-face {
  font-family: 'Futura_Demi';
  src: url(./Futura_Demi.ttf);
}

@font-face {
  font-family: 'Futura_Book';
  src: url(./Futura_Book.ttf);
}
